* {
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  background-color: #e7f6ff;
}

.wrapper {
  max-width: 1080px;
  margin: 50px auto;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;

  header {
    border-bottom: 1px solid #eaeaea;
    p {
      font-family: 'Inter';
      font-weight: 400;
      font-size: 14px;
      color: #9d9d9d;
    }

    img {
      margin-right: 15px;
    }
  }

  h3 {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;

    color: #000000;
  }

  .content {
    h1 {
      margin: 0;
    }

    .searchBlock {
      width: 250px;
      height: 45px;
      border: 1px solid #f3f3f3;
      border-radius: 10px;
      padding: 13px;
    }

    input {
      border: none;
      font-size: 14px;
      padding-left: 10px;
      width: 200px;
    }
  }

  .card {
    width: 220px;
    padding: 20px;
    background: #ffffff;
    border: 1px solid #f3f3f3;
    border-radius: 40px;
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
      transform: translateY(-5px);
    }

    h5 {
      font-weight: 400;
      font-size: 14px;
      color: #000000;
    }

    span {
      font-size: 13px;
      opacity: 0.5;
      text-transform: uppercase;
    }
    b {
      font-size: 13px;
    }
  }

  button {
    width: 32px;
    height: 32px;
    background: #ffffff;
    border: 1px solid #f2f2f2;
    border-radius: 8px;
    cursor: pointer;
    opacity: 0.7;

    &:hover {
      opacity: 0.9;
    }
  }

  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .drawer {
    position: absolute;
    width: 420px;
    height: 100%;
    right: 0;
    background: #ffffff;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
    padding: 30px;

    h2 {
      margin: 0;
    }

    .items {
      flex: 1;
    }

    .cartItem {
      width: 325px;
      background: #ffffff;
      border: 1px solid #f3f3f3;
      border-radius: 20px;
      padding: 20px;
      overflow: hidden;

      p,
      b {
        font-size: 14px;
      }
    }

    .cartTotal {
      ul {
        li {
          margin-bottom: 20px;
        }
        div {
          flex: 1;
          border-bottom: 1px dashed #dfdfdf;
          margin: 0 8px 0 8px;
          position: relative;
          top: -3px;
        }
      }

      .greenButton {
        width: 100%;
        height: 55px;
        background: #9dd558;
        border-radius: 18px;
        color: #ffffff;
        font-weight: 600;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        position: relative;

        &:hover {
          background: lighten(#9dd558, 5%);

          img {
            transform: translateX(5px);
          }
        }

        img {
          position: absolute;
          right: 30px;
          top: 20px;
          transition: transform 0.15s ease-in-out;
        }
      }
    }

    .btnRemove {
      opacity: 0.5;
      cursor: pointer;

      &:hover {
        opacity: 2;
      }
    }
  }
}
