.d-flex {
    display: flex;
}

.flex-column {
   flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.m-0 {
    margin: 0;
}

.mt-40 {
    margin-top: 40px;
}
.mr-20 {
    margin-right: 30px;
}

.mr-30 {
    margin-right: 30px;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.p-40 {
    padding: 40;
}

.text-uppercase {
    text-transform: uppercase;
}

.clear {
    * {
        box-sizing: border-box;
        outline: none;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        list-style-type: none;
    }
}